.category-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
    padding: 38px 29px 0px;
    color: white;
    margin-bottom: 120px;
    .category-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        h1{
            margin: 0;
        }
        .category{
            overflow-x: scroll;
        }
    }
}
