.category-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    padding: 20px ;
    color: white;
    .category-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
        h1{
            margin: 0;
        }
        .category{
            overflow-x: scroll;
        }
    }
}
