* {
    box-sizing: border-box;
    font-weight: 700;
    font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
}

body {
    font-size: rem(18px); 
    color: black !important;
    margin: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.6em;
    line-height: 1;
}

.MuiTextField-root{
    & .MuiOutlinedInput-root {
    &.Mui-focused{
        fieldset {
            border-color: $clr1;
        }
    } 
}
}	

.MuiListItemIcon-root{
    min-width: 40px !important;
}
.MuiListItemText-root{
    .MuiListItemText-primary{
        font-size: 14px;
    }
}

.MuiCard-root{
    background:#181818 !important ;
    border-radius: 10px !important;
    min-width: max-content
}

.react-simplified-player-container{
    background: #181818 !important;
    border: none !important;
    padding: 0 7px !important;
    .song-content{
        .song-credits{
            overflow: hidden;
white-space: nowrap;
        }
    }
}