* {
    box-sizing: border-box;
}

body {
    font-size: rem(18px);
    color: black !important;
    margin: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.6em;
    line-height: 1;
}

#root {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas:
        "side-bar header"
        "side-bar app";

    @media screen and (max-width: 640px) {
        // grid-template-columns: 1fr;
        // grid-template-rows: 0.1fr 1fr;
        // grid-template-areas:
        //     "side-bar"
        //     "app";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "app";
        .bottom-nav {
            display: block;
        }
        .side-bar {
            display: none;
        }
        .music-player {
            position: relative;
            bottom: 55px !important;
        }
        .song-card {
            display: flex !important;
            display: none !important;
            // flex-direction: column !important;
        }
        .category-list{
            justify-content: center;

        }
        .station-controller{
            flex-direction: row-reverse;
            justify-content: space-between;
        }
        .station-showcase {
            padding: 10px;
            .station-header {
                flex-direction: column;
                position: relative;
                text-align: left;
                .mobile-back-btn{
                    display: block;
                }
                .img {

                    .station-img {
                        box-shadow: -1px -1px 52px -2px rgba(0,0,0,0.75);
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 20px;
                        max-width: 70%;
                        height: 35vh;
                        border-radius: 9px;
                    }
                }
                .info {
                    width: 100%;
                    h1 {
                        font-size: 30px;
                    }
                }
            }
        }
        .mobile-input {
            display: block;
        }
        .mobile-input-title{
            display: block;
        }
        .collection {
            flex: 1;
            border-radius: 3px;
            max-height: 90px !important;
            min-width: 150px !important;
            word-break: break-word;
            h1 {
                position: absolute;
                left: 50px;
                margin: 0;
                font-size: 16px;
            }
        }
    }
    /* width */
    ::-webkit-scrollbar {
        display: none;
    }
}

